{{ partial "head.html" . }}

<body class="{{ .Site.Params.themeColor }} {{ if .Site.Params.layoutReverse }}layout-reverse{{ end }}">

  {{ partial "sidebar.html" . }}

  <div class="content container">
    {{ .Content }}

    <div class="row grid-show-all" id="filterable-grid">
      {{ range where .Site.RegularPages "Params.show_in_home" true }}
        <div class="col-xs-6 col-md-6 col-lg-4
          {{ if eq .Params.group "software" }}grid-section-software{{ end }}
          {{ if eq .Params.group "ml" }}grid-section-ml{{ end }}
          {{ if eq .Params.group "hardware" }}grid-section-hardware{{ end }}
          {{ if eq .Params.group "professional" }}grid-section-professional{{ end }}
        ">
          <a href="{{ .RelPermalink }}" class="project-card-link">
            <div class="project-card">
              {{ with .Params.image }}
                <div class="project-card-image">
                  <img src="{{ . | relURL }}" alt="{{ $.Title }}">
                </div>
              {{ end }}

              <div class="project-card-title-container">
                {{ .Title }}
              </div>

              {{ with .Params.subtitle }}
                <div class="project-card-subtitle">{{ . }}</div>
              {{ end }}
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </div>

</body>
</html>